<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.intervaltimer.google">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.intervaltimer.google.IntervalTimerApp"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />

        <!-- SPLASH -->
        <activity
            android:name="com.intervaltimer.google.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- TUTORIAL -->
        <activity
            android:name="com.intervaltimer.google.tutorial.TutorialActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <!-- MAIN -->
        <activity
            android:name="com.intervaltimer.google.activities.MainActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="actions.google.intervaltimer.com"
                    android:pathPrefix="/start"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <!-- ABOUT -->
        <activity
            android:name="com.intervaltimer.google.activities.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="com.intervaltimer.google.activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.intervaltimer.google.activities.MainActivity" />
        </activity>

        <!-- HELP -->
        <activity
            android:name="com.intervaltimer.google.activities.HelpActivity"
            android:label="@string/help"
            android:parentActivityName="com.intervaltimer.google.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.intervaltimer.google.activities.MainActivity" />
        </activity>

        <!-- SETTINGS -->
        <activity
            android:name="com.intervaltimer.google.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.intervaltimer.google.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.intervaltimer.google.activities.MainActivity" />
        </activity>

        <!-- WORKOUT -->
        <activity
            android:name="com.intervaltimer.google.activities.WorkoutActivity"
            android:label="@string/title_activity_workout"
            android:launchMode="singleTask"
            android:parentActivityName="com.intervaltimer.google.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.intervaltimer.google.activities.MainActivity" />

            <intent-filter android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="actions.google.intervaltimer.com"
                    android:pathPrefix="/stop"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <!-- MOTIVATION -->
        <activity
            android:name="com.intervaltimer.google.activities.MotivationAlertTextsActivity"
            android:label="@string/title_activity_motivation_alert_texts"
            android:parentActivityName="com.intervaltimer.google.activities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.intervaltimer.google.activities.SettingsActivity" />
        </activity>

        <!-- STATISTICS -->
        <activity
            android:name="com.intervaltimer.google.activities.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName="com.intervaltimer.google.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.intervaltimer.google.activities.MainActivity" />
        </activity>

        <service
            android:name="com.intervaltimer.google.services.TimerService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="com.intervaltimer.google.receivers.OnBootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.intervaltimer.google.receivers.MotivationAlertReceiver" />
    </application>

</manifest>