<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.secuso.privacyfriendlytraining">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.secuso.privacyfriendlytraining.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlytraining.ui.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="org.secuso.privacyfriendlytraining.ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlytraining.ui.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlytraining.ui.HelpActivity"
            android:label="@string/help"
            android:parentActivityName="org.secuso.privacyfriendlytraining.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlytraining.ui.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlytraining.ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.secuso.privacyfriendlytraining.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlytraining.ui.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlytraining.ui.GameActivity"
            android:label=""
            android:parentActivityName="org.secuso.privacyfriendlytraining.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlytraining.ui.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlytraining.ui.ExercisesActivity"
            android:label="@string/title_activity_exercises"
            android:parentActivityName="org.secuso.privacyfriendlytraining.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlytraining.ui.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlytraining.ui.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName="org.secuso.privacyfriendlytraining.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlytraining.ui.MainActivity" />
        </activity>s
        <activity
            android:name="org.secuso.privacyfriendlytraining.ui.ExerciseActivity"
            android:label="@string/title_activity_exercise"
            android:parentActivityName="org.secuso.privacyfriendlytraining.ui.CircuitOverviewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlytraining.ui.CircuitOverviewActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlytraining.ui.CircuitOverviewActivity"
            android:label="@string/title_activity_circuit_overview"
            android:parentActivityName="org.secuso.privacyfriendlytraining.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlytraining.ui.MainActivity" />
        </activity>
    </application>

</manifest>